/**************************************************** custom default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  cursor: default;
  background-color: #a9a9a9;
}

/**************************************************** navbar */
.nav-bg {
  background-color: #fffafa;
  width: 100%;
  height: 5rem;
  position: fixed;
}

.nav-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.square {
  background-color: #a9a9a9;
  width: 2rem;
  height: 2rem;
}

.fa-solid.fa-bars {
  font-size: 1.5rem;
  color: #808080;
}

@media (min-width: 720px) {
  .nav-container {
    grid-template-columns: 3rem 0rem 0rem 7.5rem;
    align-items: center;
    justify-content: space-between;
  }

  .fa-solid.fa-bars {
    display: none;
  }

  .rectangle {
    background-color: #a9a9a9;
    width: 8rem;
    height: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .nav-bg {
    height: 5.5rem;
  }

  .nav-container {
    grid-template-columns: 3rem 0rem 0rem 13rem;
  }

  .square {
    width: 2.5rem;
    height: 2.5rem;
  }

  .rectangle {
    width: 13rem;
    height: 2rem;
  }
}

@media (min-width: 1285px) {
  .nav-container {
    grid-template-columns: 17rem 0rem 0rem 15rem;
  }
}
